<header class="container">
    <nav>
        <div><a href="/" id="logo">LISt</a></div>
        <div>
            <a href="/lists" class="nav-link" >Lists</a>
            <a href="/create" class="nav-link">New List</a>
        </div>
    </nav>
</header>