<%- include('partials/header') %>
    
    <main id="home">
        <div class="col">
            <h1>LISt</h1>
            <p>Forget forgetting. <br>Organize your lists using <b>LISt</b>.</p>
            <br><a href="/lists">View your lists.</a>
        </div>
        <div class="col">
            <img src="/images/list.png" alt="">
        </div>
    </main>
 
<%- include('partials/footer') %>