<%- include('partials/header') %>
    
    <main id="home">
        <div class="col">
            <h1>LISt</h1>
            <p>Forget forgetting what you wanted to buy. <br>Organize your shopping list usimg <b>LISt</b>.</p>
            <br><a href="/list">View your list.</a>
        </div>
        <div class="col">
            <img src="/img/list.png" alt="">
        </div>
    </main>
 
<%- include('partials/footer') %>