@font-face {
    font-family: Montserratt;
    src: url(Montserrat-Regular.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Montserratt;
}

.container {
    padding: 0 150px;
}

header {
    height: 80px;
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

header #logo{
    background-color: #1477B2;
    border: 1px solid #1477B2;
    border-radius: 5px;
    color: #fff;
    font-size: 22px;
    padding: 10px 14px;
    text-decoration: none;
    font-weight: bold;
}

header .nav-link {
    text-decoration: none;
    color: #1477B2;
    margin-left: 7px;
    font-size: 19px;
    font-weight: bold;
}

header .nav-link:hover {
    border-bottom: 2px solid #1477B2;
}

#home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 150px;
    height: 100vh;
    background-color: #fff;
}

#home .col {
    width: 50%;
}

#home .col h1 {
    color: #1477B2;
    font-size: 56px;
    margin-bottom: 10px;
}

#home .col p {
    font-size: 25px;
    margin-bottom: 10px;
}

#home .col a {
    background-color: #1477B2;
    border: 1px solid #1477B2;
    border-radius: 5px;
    color: #fff;
    font-size: 22px;
    padding: 10px 14px;
    text-decoration: none;
    font-weight: bold;
}

#home .col a:hover {
    background-color: #fff;
    color: #1477B2;
}

#home .col img {
    width: 100%;
}

/* create-list view */

#create-list h1 {
    color: #1477B2;
    margin: 8px 0;
}

#create-list form {
    display: flex;
    flex-direction: column;
}

#create-list label, #create-list .form-input {
    font-size: 17px;
    margin-bottom: 5px;
}

#create-list .form-input {
    padding: 9px;
    border-radius: 5px;
    /* border: 1px solid #f2f2f2; */
}

#create-list input[type='submit'] {
    font-size: 20px;
    padding: 8px 12px;
    background-color: #008000;
    border: 1px solid #008000;
    border-radius: 5px;
    color: #fff;
    letter-spacing: 2px;
    margin: 4px auto 0;
}


/* ./create-list view */

/* lists view */

#lists {
    margin-top: 8px;
    display: flex;
    flex-wrap: wrap;
}

#lists .list {
    border: 1px solid #b7b5b5;
    border-radius: 5px;
    padding: 10px;
    width: 27%;
    margin-right: 10px;
    margin-bottom: 5px;
    /* height: fit-content; */
}

#lists .list-title {
    color: #323131;
}

#lists .list-body li {
    margin-left: 20px;
}

#lists .list > p {
    text-align: right;
    font-style: italic;
    color: #636161;
    font-size: 14px;
    margin-top: 10px;
}

/* ./lists view */